@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body {
  /* NOTE: FUENTES */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* NOTE: ANCHO Y ALTO DE LA PARTE DE ARRIBA a */
#topart
{
  width: 100%;
  height: 100vh;
  margin:0;
  padding:0;
}


#contbanner{
  position: absolute;
  z-index: 9;
 /*NOTE: IMAGEN DE FONDO*/

  background: url("../img/home/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* NOTE: tamaño del contenedor */
  height: 100vh;
  width: 100%;
  top: 0;

}


/* NOTE: OVERLAY NEGRO ARRIBA DE LA IMG */
#blackoverlay{
  position: absolute;
  background-color:black;
  z-index: 10;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  top:0px;
}

/* NOTE: PROPIEDADES DEL HEADER */
header{
  position: relative;
  /* NOTE: Z INDEX PA PONERLO ARRIBA DEL OVERLAY */
  z-index: 11;
  /*padding: 35px;*/
  max-width: 1024px;
  height: 8vh;
  margin:auto;
  padding-top: 45px;
}

/* NOTE: LOGO HEADER */
#logoheader{

  height:40px;
  float: left;
}


/* NOTE: BOTON RDW */
.boton{
  display: none;
  width:100%;
  padding: 4px 30px;
  color: white;
  font-size: 16pt;
}

/* NOTE: ESTILOS PARA LA BARRA DE NAVEGACION */

header nav{

color:green;
float: right;
}

header nav ul {
  /*position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:0;*/

  list-style: none;
  margin:0;
  padding:0;

}

header nav ul li {
  float: left;
}

header nav ul li a {

  font-weight: 500;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  position: relative;
}

/* NOTE: DROPDOWN MENU */
.newdropdown{
  position: relative;
}

.dropdcont {
display:none;
position: absolute;
right: 0;
padding:0;
padding-top: 25px;
}

.dropdcont a{

  color: white;
  padding:10px 15px;
  text-align: left;
  margin:0;
}



/* NOTE: Titulo H1 DEL SITIO */
h1{
  position: relative;
  top: 45%;
  text-align: center;
  color: white;
  z-index: 13;
  font-size: 30pt;
  font-weight: 300;
  display: none;
}

ul li a:hover, .dropdown:hover{
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
    background-color: red;
}

.dropdown:hover + .dropdcont  {
  display: grid;
}

.dropdcont:hover {
  display: grid;
}


/* NOTE: CONTENIDO CONTENIDO
CONTENIDO CONTENIDO  */


#contenido{
  width: 100%;
  margin:0;
  padding:100px 0 ;
  background-color: black;
}

#contenido h2{
  text-align: center;
  font-size: 24pt;
  font-weight: 500;
  color: white;
  margin: 0;

}

#contenido h5 {
  font-weight: 300;
  font-size: 14pt;
  color: white;
  text-align: center;
  margin: 0 40px;
}

#contenido h3 {
  background: red;
  color: white;
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
  margin:0;
  padding:10px
}

#contenido h4{
  color:white;
  margin: 0;
}

#contenido a {
  text-decoration: none;
}
.columnafotos {
  width: 100%;
  margin: auto;
  display:table;
  text-align: center

}

.fila{
    display:inline-table;
    margin: 20px;
    vertical-align: middle;
}

#contenido p {
  font-weight: 300;
  font-size: 12pt;
  color: white;
  text-align: center;
  margin: 0 40px;
}

.foto3{
  object-position: 50% 50%;
  object-fit: cover;
  width: 300px;
  height:300px;
  margin:0;

}

.fotoind {
  object-position: 50% 50%;
  object-fit: cover;
  width: 400px;
  height:400px;
  margin:0;
}

.fotoindwide {
  object-position: 50% 50%;
  object-fit: cover;
  width: 80%;
  height:300px;
  margin:20px;
}

.parrafoind{
  float: right;
  max-width:500px;
}
.stripe {
  width: 100%;
  height:4px;
  background: white;
}


footer{
  width:100%;
  height:400px;
  background: black
}

.footercontained{
  background: black;
  max-width: 1110px;
  margin: auto;
}

/* NOTE: ENLACES */
.linkbar {
  background: black;
  padding:20px 40px;
}

.footrcolumna{
  width:48%;
  display: inline-table;
}

.footrcolumna h4{
  color: white;
}

.footrfila{
  height: 40px;

}

.footrfila i {
  font-size: 20pt;
  color: white;
}

.footrfila a {
  text-decoration: none;
  color: white;
  font-size: 10pt;
  margin: 0 10px;
}

.mapa{
  display: inline-flex;
}

.mapa img {
  object-position: 50% 50%;
  object-fit: cover;
  width: 150px;
  height:150px;
  margin:0 0 10px 0px;
}

.mapa p {
  color: white;
  font-size: 10pt;
  margin:20px;

}


/* NOTE: INFO DE COPYRIGHT Y FRSASE */
.creditbar{
  background:black;
  color: white;
}

.copyright{
  float: left;
}

.frase {
  float: right;
}







/*NOTE: RESPONSIVE*/

@media only screen and (max-width: 640px) {
    /* For mobile phones: */


      header{
        margin:auto;
      }

      header nav {
        margin: auto;
        float:none;
        margin-top: 43px;
        width: 100%;
      }

      header nav {
        display:none;
      }
      #logoheader{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
      }

      header nav ul {
        position: static;
        background: rgba(139, 0, 0, 0.6);
        }

      header nav ul li a {
      }

      .boton{
        display: block;
      }

      header nav ul li {
        display: block;
        float: none;
        padding: 15px 0;
      }

      header nav ul li a {
        padding: 15px 80px;
      }

      ul li:hover, .dropdown:hover{
        -webkit-transition-duration: 0.4s; /* Safari */
         transition-duration: 0.4s;
          background-color: red;
      }
      ul li:hover .dropdcont  {
        display: grid;
      }

      .dropdcont:hover {
        display: grid;
      }

      .dropdcont {
        position:static;}
}



/* NOTE: FORMULARIO */

.formulario {
  color: white;
  width: 40%;
  margin: 20px auto;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:#74a6f7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
}


@media only screen and (min-width: 1111px) {
    body {
        position: relative;
        margin: auto;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1110px) {

    header{
      margin:auto;
    }

    header nav {
      display: table;
      margin: auto;
      float:none;
      margin-top:65px;
    }

    #logoheader{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
    }

  header nav ul {
  position: inherit;
    }

header nav ul li a {
  padding: 15px 12px;
  margin:  0 10px;
}
