@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body {
  /* NOTE: FUENTES */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

#contbanner{
  position: relative;
  z-index: 9;
 /*NOTE: IMAGEN DE FONDO*/

  background: url("../img/home/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* NOTE: tamaño del contenedor */
  height: 100vh;
}


/* NOTE: OVERLAY NEGRO ARRIBA DE LA IMG */
#blackoverlay{
  position: absolute;
  background-color:black;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
}


/* NOTE: PROPIEDADES DEL HEADER */
header{
  position: relative;
  /* NOTE: Z INDEX PA PONERLO ARRIBA DEL OVERLAY */
  z-index: 11;
  /*padding: 35px;*/
  max-width: 1024px;
  height: 8vh;
  margin:auto;
}


#logoheader{
  position: absolute;
  top:50%;
  height:40px;
  float: left;
}

header nav ul {
  position: absolute;
  top:50%;
  right:0;
  list-style: none;
}

header nav ul li {
  float: left;
  position:relative;
  height: 40px;
}

header nav ul li a {
  display: block;
  font-weight: 500;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

header nav ul li ul {
display: block;
position: absolute;
}

/* NOTE: Texto del princio */

#contbanner h1{
  position: sticky;
  top: 48%;
  text-align: center;
  color: white;
  z-index: 13;
  font-size: 30pt;
  font-weight: 300;

}
